.icon-cell {
    text-align: right;
    max-width: 50px;
    width: 50px;
}

.icon-link {
    transition: color .2s ease;

    &.hover-primary:hover {
        color: var(--bs-primary);
    }
    &.hover-alert:hover {
        color: var(--bs-danger);
    }
}