<div *ngIf="isOpenMode" class="appointment-form">
  <h2>
    {{ 
      isUpdateMode 
        ? ('APPOINTMENT.EDIT' | translate) 
        : ('APPOINTMENT.CREATE' | translate)
    }}
  </h2>

  <form [formGroup]="appointmentForm" (ngSubmit)="saveAppointment()">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="date" class="form-label">{{ 'APPOINTMENT.DATE' | translate }}:</label>
        <input 
          type="date" 
          id="date" 
          formControlName="date" 
          class="form-control"
          [ngClass]="{'is-invalid': date.errors && isValidForm != null && !isValidForm }">

        <div *ngIf="date.errors && isValidForm != null && !isValidForm" class="invalid-feedback">
          <div *ngIf="date.errors['required']">
              {{ 'FORM.ERROR.REQUIRED' | translate }}
          </div>
        </div>
      </div>
  
      <div class="mb-3 col-md-6">
        <label for="hour" class="form-label">{{ 'APPOINTMENT.HOUR' | translate }}:</label>
        <input 
          type="time" 
          id="hour" 
          formControlName="hour" 
          class="form-control"
          [ngClass]="{'is-invalid': hour.errors && isValidForm != null && !isValidForm }">

        <div *ngIf="hour.errors && isValidForm != null && !isValidForm" class="invalid-feedback">
          <div *ngIf="hour.errors['required']">
              {{ 'FORM.ERROR.REQUIRED' | translate }}
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="price" class="form-label">{{ 'APPOINTMENT.PRICE' | translate }}:</label>
        <input 
          type="number" 
          id="price" 
          formControlName="price" 
          class="form-control"
          [ngClass]="{'is-invalid': price.errors && isValidForm != null && !isValidForm }">

        <div *ngIf="price.errors && isValidForm != null && !isValidForm" class="invalid-feedback">
          <div *ngIf="price.errors['required']">
              {{ 'FORM.ERROR.REQUIRED' | translate }}
          </div>
        </div>
      </div>
  
      <div class="mb-3 col-md-6">
        <label for="max_capacity" class="form-label">{{ 'APPOINTMENT.MAX_CAPACITY' | translate }}:</label>
        <input 
          type="number" 
          id="max_capacity" 
          formControlName="max_capacity" 
          class="form-control"
          [ngClass]="{'is-invalid': max_capacity.errors && isValidForm != null && !isValidForm }">

        <div *ngIf="max_capacity.errors && isValidForm != null && !isValidForm" class="invalid-feedback">
          <div *ngIf="max_capacity.errors['required']">
              {{ 'FORM.ERROR.REQUIRED' | translate }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isUpdateMode"  class="mb-3">
      <label for="productId" class="form-label">{{ 'APPOINTMENT.SELECT' | translate }}:</label>
      <select 
        formControlName="productId" 
        id="productId" 
        class="form-select"
        [ngClass]="{'is-invalid': productId.errors && isValidForm != null && !isValidForm}">
        <option value="" disabled selected>-- {{ 'FORM.SELECT' | translate }} --</option>
        <option *ngFor="let product of productsList" [ngValue]="product.id">
          {{ product.name }}
        </option>
      </select>

      <div *ngIf="productId.errors && isValidForm != null && !isValidForm" class="invalid-feedback">
        <div *ngIf="productId.errors['required']">
          {{ 'APPOINTMENT.SELECT' | translate }}
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-6 col-md-4">
        <button 
          type="submit" 
          class="btn btn-primary w-100">
          {{ 
            isUpdateMode 
            ? ('FORM.SAVE' | translate)
            : ('FORM.CREATE' | translate)  
          }} 
        </button>
      </div>
      <div class="col-6 col-md-4">
        <button 
          type="button" 
          class="btn btn-secondary w-100"
          (click)="cancelForm()">
          {{ 'CANCEL' | translate }}
        </button>
      </div>
    </div>

  </form>
</div>
  
